<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.conding.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.geek.conding.model.rds.UserDTO">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="getUserAll" resultType="com.geek.conding.model.rds.UserDTO">
        select * from sys_user
    </select>

</mapper>